<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 class='centered'>An error has occurred.</h1>
    <p class='centered'>We are looking into the issue and apologize for the trouble.</p>
    <div class='centered'>
        <a href="/shop" >Go to Home Page</a>
    </div>

<%- include('includes/end.ejs') %>