.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 90%;
    margin: 1rem;
}

.product-details {
    max-width: 400px;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: left;
    font-weight:bolder;
}

.product__stat {
    text-align: left;
    color: #440000;
}